@keyframes pisca {
    0% {opacity: 0.2; }
    50% { opacity: 1;}
    100% { opacity: 0.2;}
}
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.urna{
    background-color: #dbd5c9;
    padding: 30px;
    display: flex;
}
.tela{

    width: 500px;
    height: 320px;
    background: linear-gradient(to right, #E8E8E8, #C1C1C1);
    border: 2px solid #555;
    display: flex;
    flex-direction: column;
}
.teclado{
    margin-left: 30px;
    background-color: #403A3A;
}
.linhaBotao{
    display: flex;
    justify-content: center;
}
.tecladoBotao{
    width: 70px;
    height: 40px;
    background-color: #000;
    color: #fff;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 0px #555;
}
.Btn_Branco{
    width: 90px;
    height: 50px;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    font-size: 20px;
}
.Btn_Corrige{
    width: 90px;
    height: 50px;
    background-color: #f09046;
    color: #000;
    font-weight: bold;
    font-size: 20px;
}
.Btn_Confirma{
    width: 90px;
    height: 50px;
    background-color: #48c079;
    color: #000;
    font-weight: bold;
    font-size: 20px;
}
.d-1{
    flex: 1;
    display: flex;
}
.d-1-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.d-1-1{
    height: 50px;
    display: flex;
    align-items: center;

}
.d-1-2{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.d-1-3{
    height: 50px;
    display: flex;
    align-items: center;
}
.numero{
    display: inline-block;
    width: 30px;
    height: 40px;
    border: 1px solid #000;
    line-height: 40px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.pisca{
    animation-name: pisca;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}
.d-1-4{
    flex: 1;
    display: flex;
    align-items: center;
}
.d-1-right{
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.d-1-image{
    border: 1px solid #000;
    background-color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}
.d-1-image img{
    width: 100%;
}
.d-1-image.small{
    width: 80%;
    font-size: 12px;
}
.d-2{
    text-align: center;
    height: 60px;
    font-size: 14px;
    border-top: 2px solid #000;
    padding-left: 10px;
    padding-top: 5px;
}